@use 'styles/colors';

.container {
  position: relative;
}

.modal {
  position: fixed;
  z-index: 10;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.625rem;
  border: 1px solid colors.$medium-gray;
  background-color: colors.$bg-white;
}

.option {
  padding: 1rem;
}

.image {
  width: 2.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.selected {
  color: colors.$secondary-hover;
  border: 1px solid colors.$secondary-hover;
  border-radius: 0.5rem;
}

.overlay {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 9;
}
