@use 'styles/colors';

@mixin button($padding-inline, $padding-block) {
  width: fit-content;
  border-radius: 2.5rem;
  padding: $padding-inline $padding-block;
  transition: all 0.3s ease;
  &:hover {
    cursor: pointer;
  }
}

@mixin primary($color) {
  background-color: $color;
  color: colors.$white;
  border: none;
  &:hover {
    background-color: colors.$primary-hover;
  }
}

@mixin secondary($color) {
  border: 1.25px solid $color;
  color: $color;
  background: none;
  &:hover {
    border-color: colors.$secondary-hover;
    color: colors.$secondary-hover;
  }
}

.sm {
  @include button(0.5rem, 1rem);
}

.md {
  @include button(0.75rem, 1.5rem);
}

.lg {
  @include button(1rem, 2rem);
}

.xl {
  @include button(1.25rem, 2.5rem);
}

.primary-purple {
  @include primary(colors.$primary);
}

.primary-black {
  @include primary(colors.$secondary);
}

.secondary-purple {
  @include secondary(colors.$primary);
}

.secondary-black {
  @include secondary(colors.$secondary);
}

.disabled {
  background-color: colors.$pale-grey;
  color: colors.$white;
  border: none;
  &:hover {
    cursor: not-allowed;
  }
}
