.filename {
  flex: 1;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  padding-block: 6px;
  padding-inline: 12px;

  border: 1px solid #ced4da;
  border-radius: 4px;

  font-size: 14px;
  line-height: 22px;
}
