@use 'styles/colors';

.sponsorContainer {
  overflow-x: scroll;
  overflow-y: hidden;
  padding-block: 1.5rem;
}

.addSponsorButton {
  flex: 1;
  padding: 0.375rem;
  background: none;
  border: 1px dashed colors.$light-gray;
  border-radius: 1rem;
}
.tipContainer {
  border: 1px solid colors.$light-gray;
  border-radius: 1rem;
  padding: 1rem;
  margin-block: 1.5rem;
}
.inputContainer {
  margin: 2rem 0;
}

.logo {
  border-radius: 50%;
  margin-right: 1rem;
}

.selectItem {
  padding: 1rem;
  &:hover {
    border: 1px solid #6200ff;
    border-radius: 5px;
  }
}

.supportDocuments {
  width: 100%;
  padding: 1rem;
}
