.container {
  display: grid;
  gap: 1rem 1rem;
  grid-template-columns: auto auto auto auto;
}

.avatarImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.titleImage {
  height: 15rem;
  width: 100%;
  border-radius: 10px;
}
