@use 'styles/colors';

@font-face {
  font-family: Pretendard;
  src: url('./fonts/Pretendard-Thin.otf');
  font-weight: 100;
}

@font-face {
  font-family: Pretendard;
  src: url('./fonts/Pretendard-ExtraLight.otf');
  font-weight: 200;
}

@font-face {
  font-family: Pretendard;
  src: url('./fonts/Pretendard-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: Pretendard;
  src: url('./fonts/Pretendard-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: Pretendard;
  src: url('./fonts/Pretendard-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: Pretendard;
  src: url('./fonts/Pretendard-SemiBold.otf');
  font-weight: 600;
}

@font-face {
  font-family: Pretendard;
  src: url('./fonts/Pretendard-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: Pretendard;
  src: url('./fonts/Pretendard-ExtraBold.otf');
  font-weight: 800;
}

@font-face {
  font-family: Pretendard;
  src: url('./fonts/Pretendard-Black.otf');
  font-weight: 900;
}

@mixin text-options($font-size, $font-weight, $line-height) {
  font-family: Pretendard;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: 0em;
  text-align: left;
  color: colors.$black;
}

.heading1 {
  @include text-options(30px, 600, 38px);
}

.heading2 {
  @include text-options(26px, 600, 32px);
}

.heading3 {
  @include text-options(26px, 500, 31px);
}

.heading4 {
  @include text-options(26px, 400, 30px);
}

.subheading1 {
  @include text-options(20px, 500, 26px);
}

.subheading2 {
  @include text-options(18px, 500, 22px);
}

.subheading3 {
  @include text-options(16px, 500, 18px);
}

.body {
  @include text-options(18px, 400, 22px);
}
