@use 'styles/colors';

.wallet {
  display: flex;
  align-items: center;
  height: fit-content;
  margin-block: 2rem;
  padding: 1rem;
  border: 1px solid colors.$light-gray;
  border-radius: 1rem;
}

.image {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  height: 5rem;
}
