@use 'styles/colors';

.card {
  display: flex;
  align-items: center;
  background-color: colors.$bg-gray;
  border-radius: 1.25rem;
  padding: 2.25rem;
  height: 100%;
}

.image {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  height: 5rem;
}
