@use 'styles/colors';

.image {
  width: 6.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}

.backButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.infoCard {
  background-color: colors.$bg-gray;
  border: 1px solid colors.$light-gray;
  border-radius: 20px;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.infoText {
  color: colors.$medium-gray;
}
