@use 'styles/colors';

.wallet {
  display: flex;
  align-items: center;
  height: fit-content;
  width: fit-content;
  margin-block: 3rem 2rem;
  padding: 1rem calc(1rem + 30px) 1rem 1rem;
  border: 1px solid colors.$light-gray;
  border-radius: 1rem;
}

.table {
  margin-top: 2rem;
  border-radius: 1rem;
  border-collapse: separate;
}
