.container {
  min-width: 18rem;
  border: 1px solid #ededed;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    transition: all 0.5s ease;
    z-index: 2;
    background-color: #ededed40;
  }
  &:hover::before,
  &:focus-within::before {
    background-color: transparent;
    cursor: pointer;
  }
}

.corner {
  position: absolute;
  top: 4%;
  right: 4%;

  button {
    display: grid;
    place-content: center;
    background-color: white;
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
  }
}
