@use 'styles/colors';

.authPageWrapper {
  height: 100vh;
  background: colors.$bg-white;

  .authPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .logo {
      height: 5.5rem;
      width: 5.625rem;
    }
  }
}
