$footer-height: 6.4%;

.authPageWrapper {
  height: 100vh;
  background: linear-gradient(180deg, #EF5570, #EF5570, #33107c, #231149);

  .authPage {
    height: calc(100% - $footer-height);

    .logo {
      overflow: inherit;
      width: fit-content;
      margin: 2.5rem 0 0.5rem 3rem;
    }

    .card {
      height: 78%;
      width: 70%;
      background-color: #ffffff;
      border-radius: 30px;
      margin: 0 auto;
      display: flex;
      
      .formContainer {
        flex: 1;
        align-self: center;
      }

      .imageContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        img {
          max-height: 70%;
          max-width: 70%;
        }
        @media (max-width: 1040px){
          display: none;
        }
      }
    }
  }

  footer {
    background-color: #ffffff;
    color: #878787;
    height: $footer-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}