@use 'styles/colors';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: colors.$bg-gray;
  flex: 1;
  min-height: fit-content;

  padding: 1.5rem;
  border-radius: 1.5rem;
}
