$primary: #6200ff;
$secondary: #262626;

$black: #141414;
$dark-gray: #333333;
$medium-gray: #a1a1a1;
$light-gray: #cccccc;
$pale-grey: #aeaeae;
$white: #ffffff;

$bg-white: #f9f9f9;

$primary-hover: #b488f3;
$secondary-hover: #9653f8;

$disabled: #e0e0e0;

$green: #0fd293;
$yellow: #ffd633;
$red: #ff0055;
