html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.authLoader {
  background: linear-gradient(180deg, #ef5570, #ef5570, #33107c, #231149);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
