@use 'styles/colors';
@use 'src/components/typography/styles.module.scss' as typography;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.authLoader {
  background-color: colors.$bg-white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Override phone-number-input
.PhoneInput {
  width: 450px;
  height: 50px;
  margin-bottom: 0.75rem;
  background-color: #fff;
}
.PhoneInputCountry {
  width: 20%;
  border: 1px solid #ced4da;
  border-radius: 10px;
  justify-content: center;
  gap: 0.5rem;
  padding: 23px 18px;
}

.PhoneInputInput {
  margin-bottom: 0;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #ced4da;
  padding: 0 1rem;
  @include typography.text-options(18px, 400, 22px);
}

// Override mantine input fields
.mantine-TextInput-input,
.mantine-PasswordInput-input {
  @include typography.text-options(18px, 400, 22px);
}

.mantine-Input-input {
  border-color: colors.$light-gray;
  &:focus {
    border-color: colors.$secondary-hover;
  }
  input[type='text' i] {
    padding: 1rem;
  }
}

.mantine-TextInput-input {
  padding: 1.5rem 1rem;
  font-size: 14px;
}

.mantine-Textarea-input {
  padding: 1rem;
}

.mantine-DatePicker-input {
  padding: 1rem 2rem;
}

.mantine-InputWrapper-label {
  margin-bottom: 10px;
  // @include typography.text-options(20px, 500, 26px);
  @include typography.text-options(18px, 500, 22px); //Subherading2
}
